@import 'src/styles/vars';

.picture-item {
  position: relative;
  margin: 1em auto;
  padding: 0.5em;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: $main-color;
  border-radius: 0.6em;
  box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -2px -2px 12px 0 rgba(114, 112, 112, 0.4);
 
  @include m400() {
    width: 20em;
  };
  @include m767() {
    overflow: hidden;
    margin: 1em;
  };

  // PICTURE IMAGE

  &-image {
    max-height: 15em;
    overflow: hidden;
    & img {
      width: 100%;
      height: auto;
      transform: scale(1.1);
      transition: all 1s;
      &:hover {
        transform: scale(1.01);
      }
      @include m767() {
        max-height: 12em;
      };
    }
  }

  // PICTURE INFOS

  &-metadatas {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    font-size: 0.9em;
    color: $light-color;
  
    @include m767() {
      overflow: hidden;
      margin: 1em auto;
    };
    
    // NAME OF FILE
    &-name {
      max-height: 5.3em;
      overflow-y: hidden;
      width: 100%;
      border-bottom: 0.1em solid $light-color;
      @include m767() {
        height: 5em;
        overflow: hidden;
        };
        p {
          margin-bottom: 0.4em;
        }
        span {
          margin: 0.4em 0;
        }
    }

    // SIZE OF FILE
    &-size {
      width: 50%;
      border-right: 0.1em solid $light-color;
      border-left: 0.1em solid $light-color;
    }

    // TYPE OF FILE
    &-type {
      width: 50%;
      border-right: 0.1em solid $light-color;
    }

    &-name, &-size, &-type {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0.4em 0;
      span {
        font-family: 'Poppins';
        font-size: 1.2em;
        font-weight: bold;
        font-style: italic;
      }
    }
    
    // EXIF LIST
    &-exif {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      overflow: scroll;
      -webkit-overflow-scrolling: touch;
      width: 100%;
      min-height: 10em;
      max-height: 10em;
      padding: 0 0.5em;
      border: 0.1em solid $light-color;
      & pre {
        width: 100%;
        color: $light-color;
        font-family: 'Open Sans';
        text-align: left;
        font-size: 0.9em!important;
        white-space: pre-line;
        overflow: hidden;
      }
      
      &-item {
        display: flex;
        // NAME OF EXIF METADATA
        &-name {
          font-weight: bold;
        }
        // VALUE OF EXIF METADATA
        &-value {
          margin-left: 0.5em;
        }
      }
      // EMPTY METADATA LIST
      &--noentry {
        margin: 2em 0.5em;
        font-size: 0.9em;
      } 
    }
  }

  // DELETE PICTURE BUTTON
  &-delete-btn {
    position: absolute;
    width: 10%;
    top: 37%;
    left: 87%;
    background-color: transparent;
    border: none;
    z-index: 10;
    @include m767() {
      width: 12%;
      top: 32%;
      };
    
    img {
      width: 100%;
    }
  
    &:focus {
      background-color: transparent;
      border: none;
    } 
  }
}