@import 'src/styles/vars';

.picture-item {
  position: relative;
  margin: 1em auto;
  padding: 0.5em;
  width: 100vw;
  display: flex;
  flex-direction: column;
  @include m767() {
    width: 30rem;
    overflow: hidden;
    margin: 1em;
   };

   &-image {
    max-height: 20em;
    overflow: hidden;
    & img {
      width: 100%;
      transform: scale(1.1);
      transition: all 1s;
      &:hover {
        transform: scale(1.01);
      }
      @include m1200() {
       };
    }
  }

  &-metadatas {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
   /*  height: 10em; */
    box-sizing: border-box;
    font-size: 0.9em;
    @include m767() {
      overflow: hidden;
      margin: 1em auto;
      font-size: 1em;
     };
    &-name {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      border: 0.1em solid rgb(139, 135, 135);
    }
    &-size {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      border: 0.1em solid rgb(139, 135, 135);
    }
    &-type {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      border: 0.1em solid rgb(139, 135, 135);
    }
    &-name, &-size, &-type {
      span {
        font-weight: bold;
        text-decoration: underline;
        font-size: 1.2em;
      }
      p {
        margin-bottom: 0;
      }
    }
    &-exif {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      overflow-y: scroll;
      width: 100%;
      height: 10em;
      padding: 0.5em;
      border: 0.1em solid rgb(139, 135, 135);
      & pre {
        font-family: 'Nunito';
        text-align: left;
      }
      &-item {
        display: flex;
        &-name {
          font-weight: bold;
        }
        &-value {
          margin-left: 0.5em;
        }
      }
      &--noentry {
        margin: 2em 0.5em;
      } 
    }
  }
}
.picture-item-delete {
  position: absolute;
  top: 2%;
  left: 90%;
  background-color: transparent;
  border: none;
  z-index: 100;

  &:focus {
    background-color: transparent;
    border: none;
  } 
}
.delete-success {
  width: 100px;
  height: 50px;
  background-color: #69b876;
}

.delete-error {
  width: 100px;
  height: 50px;
  background-color: #df6b57;
}

/* .delete-modal {
  display: none;

  &--opened {
    display: block;
    position: absolute;
    top: 0;
  }
} */