@import 'src/styles/vars';

.about-container {

  .alert {
    margin: 0.5em auto;
    margin-bottom: 1em;
    padding: 1em;
    padding-top: 1.5em;
    width: 90%;
    background-color: $main-color;
    border-radius: 30.5px;
    @include m400() {
      width: 20em;
     };
    @include m767() {
      width: 15em;
      position: absolute;
      top: 26%;
      left: 2%;
     };
     @include m1024() {
      width: 20em;
      padding: 1.1em;
    };
    @include m1200() {
      width: 22em;
      padding: 1.1em;
    };

    p {
      width: 94%;
      font-size: 0.8em;
      font-weight: normal;
      color: #ffffff;
      margin-bottom: 0.2em;
      line-height: 1.5em;
      @include m1024() {
        font-size: 0.9em;
        width: 92%;
      };
      @include m1200() {
        font-size: 0.9em;
      };
    }

    .close {
      padding: 0.2em 0.4em;
      color: $accent-color;
      font-size: 2em;
      @include m1200() {
        padding: 0.2em;
        padding-left: 0.4em;
       };
    }

    .span-bold {
      font-weight: bold;
    }

    .span-italic {
      font-style: italic;
    }
  }
}