@import 'reset';
@import 'vars';

html {
  height: 100%;
}
body {
  font-family: 'Nunito', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #56756d!important;
}

// FONTS

@font-face {
  font-family: "Nunito";
  src: url("../../src/assets/fonts/Nunito-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "LLPixel";
  src: url("../../src/assets/fonts/LLPIXEL3.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url("../../src/assets/fonts/PlayfairDisplay-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../../src/assets/fonts/Montserrat-regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("../../src/assets/fonts/Quicksand-regular.ttf");
    font-weight: normal;
    font-style: normal;
}
