@import 'reset';
@import 'vars';

body {
  font-family: 'Nunito', sans-serif;
  height: 100vh;
}

// FONTS

@font-face {
  font-family: "Nunito";
  src: url("../../src/assets/fonts/Nunito-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}
