@import 'src/styles/vars';

.app {
  position: relative;
  width: 100vw;
  min-height: 100vh;
  margin-top: 0;
  text-align: center;
  padding-bottom: 3em;
  background: linear-gradient(0deg, rgba(67,88,83,1) 0%, rgba(46,56,54,1) 50%, rgba(67,88,83,1) 100%);

  &-title {
    font-family: 'LLPixel';
    font-size: 1.5em;
    color: #ffffff;
    font-weight: bold;
    background-color: $dark-color;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.4em auto;
    margin-top: 1.6em;
    border-radius: 1.6em;
    height: 3em;
    width: 90%;

    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    @keyframes fadeIn {
      from{
        background-color: $main-color;
        box-shadow: none
      }
      to{
        background-color: $dark-color;
        box-shadow: 
        12px 12px 16px 0 rgba(0, 0, 0, 0.25),
        -2px -2px 12px 0 rgba(0, 0, 0, 0.25);
      }
    }

    @include m767() {
      height: 4em;
      width: 20em;
      margin: 2em auto;
      font-size: 1.4em;
    };
    
    @include m1200() {
      width: 24em;
      font-size: 1.6em;
    };

    @include m1600() {
      width: 20em;
      font-size: 1.6em;
    };

    h1 {
      font-size: 1.2em;
    }
  }

  .alien-image {
    width: 3em;
    margin: 0 auto;
    margin-top: 1em;
    @include m767() {
      width: 6em;
      margin-top: 5em;
    };
    @include m1024() {
      width: 7em;
      margin-top: 8em;
    };
    @include m1600() {
      width: 10em;
      margin: 2em auto;
      margin-top: 5em;
      font-size: 1.4em;
    };
    @include m1900() {
      width: 6em;
      margin: 0 auto;
      font-size: 1.4em;
    };

    img {
      width: 100%;
    }
  }
}