@import 'src/styles/vars';

.app {
  width: 100%;
  margin-top: 0;
  text-align: center;
  font-family: 'Nunito';
  background-color: #313847;

  &-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #5bf8c9;
    font-weight: bold;
    margin: 1.4em auto;
    h1 {
      font-size: 1.4em;
    }
    @include m767() {
      height: 5em;
      width: 20em;
      border: 1px solid #5bf8c9;
      border-radius: 0.2em;
      margin: 2em auto;
      font-size: 1.4em;
     };
     @include m1200() {
      width: 24em;
      font-size: 1.6em;
     };
  }
}