@import 'src/styles/vars';

.login {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 70%;
  justify-content: space-around;
  align-items: center;
}

.login-form {
  background-color: #ffffff;
  border-radius: 0.5em;
  padding: 2em 0.5em;
  width: 80%;
  font-size: 0.9em;
  @include m1200() {
    width: 25vw;
   };
  @include m1600() {
    top: 50%;
    width: 20vw;
  };

  &-title {
    color: $dark-color;
    font-size: 1.4em;
  }
  
  .btn-primary {
    background-color: $dark-color;
    border: none;
    border-radius: 30.5px;
    width: 6em;
    margin-top: 1em;
  }

  .error-email, .error-password {
    color: red;
    font-size: 0.8em;
  }

  .form-group {
    margin-top: 0.6em;
    margin-bottom: 0.4em;
  }
  
  input[placeholder] {
    font-size: 0.9em;
  }

  .register-link {
    margin-top: 1em;
    a {
      color: $dark-color;
      font-weight: bold;
    }
  }
}