@import 'src/styles/vars';

.home-page-message {
  width: 90vw;
  margin: 1em auto;
  & p {
    color: #ffffff;
    font-size: 1em;
    @include m1200() {
      font-size: 1.2em;
     };
  }

  & span {
    font-weight: bold;
  }

}