@import 'src/styles/vars';

.navbar-nav {
  margin-top: 0;
  display: flex;
  align-items: center;

  a {
    font-size: 1.2em;
    padding: 0 1em;
  }
}

.bg-light {
  background-color: #aab6b5!important;
}
.navbar-collapse {
  a {
    color: #1f1d1d;
    text-decoration: none;

    &:hover {
      color:  #2b312e;
      font-weight: bold;
    }
  }
}