@import 'src/styles/vars';

.navbar-nav {
  margin-top: 0;
  display: flex;
  align-items: center;
  @include m767() {
  height: 5em;
   };

  a {
    font-size: 1.2em;
    padding: 0 1em;
  }
}

.bg-light {
  background-color: #ffffff;
}
.navbar-collapse {
  a {
    color: #313847;
    text-decoration: none;

    &:hover {
      color:  #2b312e;
      font-weight: bold;
    }
  }
}