@import 'src/styles/vars';

.pictures-gallery {
  @include m767() {
    width: 100vw;
   };
  &-list {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include m767() {
      margin: 1em 1em;
      width: 100vw;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
     };
  }
}

